@model IEnumerable<Alps.Domain.ProductMgr.WarehouseVoucher>
@{
	Layout = null;
}
<div class="page page-form-validation clearfix">


	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/WarehouseVoucher">WarehouseVoucher</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">
			<p>
				<a class="btn btn-default btn-sm" href="#/WarehouseVoucher/Edit/0"><span class="glyphicon glyphicon-plus"></span>&nbsp;新建</a>
			</p>
			<table class="table">
				<tr>
					<th>
						部门@*Html.DisplayNameFor(model => model.Department.Name)*@
					</th>
					<th>
                        供应商@*@Html.DisplayNameFor(model => model.Supplier.Name)*@
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Creater)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.CreateTime)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.State)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.SubmitUser)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Handler)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TotalQuantity)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TotalAuxiliaryQuantity)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TotalAmount)
					</th>
					<th></th>
				</tr>
				<tr ng-repeat="item in items">
					<td>
						{{item.Department.Name}}
					</td>
					<td>
						{{item.Supplier.Name}}
					</td>
					<td>
						{{item.Creater}}
					</td>
					<td>
						{{item.CreateTime|date:"yyyy-MM-dd hh:mm"}}
					</td>
					<td>
						{{item.State}}
					</td>
					<td>
						{{item.SubmitUser}}
					</td>
					<td>
						{{item.Handler}}
					</td>
					<td>
						{{item.TotalQuantity}}
					</td>
					<td>
						{{item.TotalAuxiliaryQuantity}}
					</td>
					<td>
						{{item.TotalAmount}}
					</td>
					<td>
						<a class="btn btn-default btn-sm" href="#/WarehouseVoucher/Edit/{{item.ID}}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>   
					</td>
				</tr>
			</table>
		</div>
    </div>
</div>
