@model Alps.Domain.ProductMgr.WarehouseVoucherItem
			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.ID)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.WarehouseVoucherID)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.MaterialID)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Count)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Quantity)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ProductNumber)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PositionID)
					</th>
					<th><a class="btn btn-default btn-sm" ng-click="addSubItem()"><span class="glyphicon glyphicon-plus"></span>&nbsp;新建</a></th>
				</tr>
				<tr ng-repeat="subItem in item.Items">
					<td>
							<input type="hidden" ng-model="subItem.ID" />
					</td>
					<td>
								<select name="WarehouseVoucherID" id="WarehouseVoucherID" class="form-control" ng-model="subItem.WarehouseVoucherID" ng-options="selectList.ID as selectList.Name for selectList in WarehouseVoucherIDSelectList"></select>
					</td>
					<td>
								<select name="MaterialID" id="MaterialID" class="form-control" ng-model="subItem.MaterialID" ng-options="selectList.ID as selectList.Name for selectList in MaterialIDSelectList"></select>
					</td>
					<td>
								@Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" , ng_model = "subItem.Count"} })
					</td>
					<td>
								@Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" , ng_model = "subItem.Quantity"} })
					</td>
					<td>
								@Html.EditorFor(model => model.ProductNumber, new { htmlAttributes = new { @class = "form-control" , ng_model = "subItem.ProductNumber"} })
					</td>
					<td>
								<select name="PositionID" id="PositionID" class="form-control" ng-model="subItem.PositionID" ng-options="selectList.ID as selectList.Name for selectList in PositionIDSelectList"></select>
					</td>
					<td>
						<a class="btn btn-default btn-sm" ng-click="deleteSubItem($index)"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>   
					</td>
				</tr>
			</table>
