
@model Alps.Domain.ProductMgr.Catagory
@{
	Layout=null;
}
<div class="page page-form-validation clearfix">
	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/Catagory">Catagory</a></li>
		<li class="active"><a href="#/Catagory/Edit">Edit</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">
						<div class="panel panel-lined mb30">
					<div class="panel-heading"><i>Catagory</i></div>
					<div class="panel-body">
						<form role="form">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="-form-horizontal">
        <h4>Catagory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
			@Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "text-uppercase small text-bold" })
	
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control"  , ng_model="item.Name"} })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ParentID, "ParentID", htmlAttributes: new { @class = "text-uppercase small text-bold" })
			@*@Html.DropDownList("ParentID", null, htmlAttributes: new { @class = "form-control" })*@
            @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", ng_model = "item.Name" } })*@
            <select name="" class="form-control" ng-model="item.ParentID" ng-options="option.ID as option.Name for option in ParentIDSelectList"></select>
            @Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group text-center">
            <a class="btn btn-default btn-sm" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回</a>
			<a  class="btn btn-default btn-sm" ng-click="saveCatagory($event)"><span class="glyphicon glyphicon-save"></span>&nbsp;保存</a>
            </div>
        </div>
}
</form>
</div>
</div>
</div>
</div>
</div>
