@model IEnumerable<Alps.Domain.SaleMgr.Commodity>
@{
	Layout = null;
}
<div class="page page-form-validation clearfix">


	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/Commodity">Commodity</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">
			<p>
				<a class="btn btn-default btn-sm" href="#/Commodity/Create"><span class="glyphicon glyphicon-plus"></span>&nbsp;新建</a>
			</p>
			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.StockQuantity)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ListPrice)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.MaterialID)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.IsFutures)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DateOfDelivery)
					</th>
					<th></th>
				</tr>
				<tr ng-repeat="item in items">
					<td>
						{{item.Name}}
					</td>
					<td>
						{{item.Description}}
					</td>
					<td>
						{{item.StockQuantity}}
					</td>
					<td>
						{{item.ListPrice}}
					</td>
					<td>
						{{item.MaterialID}}
					</td>
					<td>
						{{item.IsFutures}}
					</td>
					<td>
						{{item.DateOfDelivery}}
					</td>
					<td>
						<a class="btn btn-default btn-sm" href="#/Commodity/Edit/{{item.ID}}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;添加到购物栏</a>   
					</td>
				</tr>
			</table>
		</div>
    </div>
</div>
