

@model Alps.Domain.ProductMgr.Material
@{
	Layout = null;
}
<div class="page page-form-validation clearfix">
	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/Material">Material</a></li>
		<li class="active"><a href="#/Material/Create">Create</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">
			<div class="panel panel-lined mb30">
				<div class="panel-heading"><i>Material</i></div>
				<div class="panel-body">
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<div class="-form-horizontal">
							<h4>Material</h4>
							<hr />
							@Html.ValidationSummary(true, "", new { @class = "text-danger" })
							<div class="form-group">
								@Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "text-uppercase small text-bold" })
								@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" , ng_model = "item.Name"} })
								@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
							</div>
							<div class="form-group">
								@Html.LabelFor(model => model.CatagoryID, "CatagoryID", htmlAttributes: new { @class = "text-uppercase small text-bold" })
								<select name="CatagoryID" id="CatagoryID" class="form-control" ng-model="item.CatagoryID" ng-options="selectList.ID as selectList.Name for selectList in CatagoryIDSelectList"></select>
								@Html.ValidationMessageFor(model => model.CatagoryID, "", new { @class = "text-danger" })
							</div>
							<div class="form-group  text-center">
								<a class="btn btn-default btn-sm" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回</a>
								<a class="btn btn-primary btn-sm" ng-click="createMaterial()"><span class="glyphicon glyphicon-save"></span>&nbsp;保存</a>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
