<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>永盛金属ERP</title>
    @Styles.Render("~/Content/csss")
    @Scripts.Render("~/bundles/modernizr")
    <base href="#/">
</head>

<body id="app" ng-app="Alps" ng-controller="RootCtrl" class="app">
    <header class="site-head clearfix" id="site-head" >
        <!-- linked header (static) view -->
        @Html.Partial("_header")
    </header>
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true,'newest-on-top':false,'position-class': 'toast-bottom-right'}"></toaster-container>
    <div class="main-container clearfix">
        <aside class="nav-wrap " id="site-nav"  custom-scrollbar>
            @Html.Partial("_nav")
        </aside>


        <div class="content-container" id="content">
            @RenderBody()

        </div>
        <footer id="site-foot" class="site-foot clearfix">
            <p class="left">&copy; Copyright 2014 <strong>永盛科技</strong>, 版权所有.</p>
            <p class="right"><a href="/#/ChangedLog">v0.1.0.2</a></p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
