@model IEnumerable<Alps.Web.Models.ProductMgr.ProductStockListModel>
@{
	Layout = null;
}
<div class="page page-form-validation clearfix">


	<ol class="breadcrumb breadcrumb-small">
		<li>Forms</li>
		<li class="active"><a href="#/ProductStockListModel">ProductStockListModel</a></li>
	</ol>
	<div class="page-wrap">
		<div class="row">

			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.ProductName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Quantity)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Weight)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.PositionName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.OwnerName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ProductNumber)
					</th>
				</tr>
				<tr ng-repeat="item in items">
					<td>
						{{item.ProductName}}
					</td>
					<td>
						{{item.Quantity}}
					</td>
					<td>
						{{item.Weight}}
					</td>
					<td>
						{{item.PositionName}}
					</td>
					<td>
						{{item.OwnerName}}
					</td>
					<td>
						{{item.ProductNumber}}
					</td>

				</tr>
			</table>
            <uib-pagination total-items="totalCount" items-per-page="pageSize" ng-model="currentPage" ng-change="getProductStockListModelList(currentPage)" class="pagination-sm" boundary-link-numbers="true" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>

		</div>
    </div>
</div>
